@tailwind base;
@tailwind components;
@tailwind utilities;


.ReactCollapse--collapse {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(134, 134, 134);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
